__pycache__/
*.pyc
.env
.persist/
temp_files/
.DS_Store
.vscode/
.idea/
*.log

# Helm build artifacts
charts/model-serving/charts/*.tgz
charts/model-serving/Chart.lock

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.lock.hcl
terraform.tfvars

# Python
__pycache__/
.pytest_cache/
.coverage
__init__/

# OS
.DS_Store

# cicd
ci/env

#gke
jenkins-gke.json